:root {
    --black: #1D1B26
    --neon: 
}
/* font-family: 'Domine', serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Fira+Sans+Condensed:wght@300&family=Lobster&display=swap');

* {
    background-color: black;
    color: #fff;
}

.main {
    background-color: black;
    color: #48ff00;
}

.ae-header {
    color: #00ffd5;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
    margin: 10px;
}

.ae-header:hover {
    text-decoration: none;
    color: #ff0000;
}

.ae-header:visited {
    text-decoration: none;
    color: #ff0000;
}

.ae-header:active {
    text-decoration: none;
    color: #ff0000;
}

.ae-a {
    color: #00ffd5;
    margin-left: 10px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    border-left-style:groove ;
}

.ae-a:hover{
    text-decoration: none;
    color: #ff0000;
    outline-color: #00ffd5;
}

.ae-nav{
    background: #000;
}

.head {
    display: inline-block;
    height: 25px;
    width: 100%;
    align-content: center;
    padding: 10px;
    line-height: 10px;
}

.brattney {
    color: #48ff00;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
    margin-bottom: 200px;
}

.score {
    color: #48ff00;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.head a {
    margin-left: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#timer {
    margin-right: 60px;
    float: right;
    position: relative;
    top: 15%;
    color:#48ff00;
}

#quiz {
    height: 800px;
    width: 100%;
    display:block;
    margin-top: 20px;
    color: #48ff00;
}

.answer-this {
    min-height: 300px;
    width: 100%; 
    margin-top:25%;
    margin-left: 25%;
}

#question {
    color: #48ff00;
    width: 400px;
    height: fit-content;
    font-weight: 450;
    font-size: 50px;
    font-family: monospace; 
    margin-top: 85px;
}

.start{
    height:50px;
    width:200px;
    border:none;
    border-radius:50px;
    transition:0.3s;
    background-color:rgba(156, 161, 160,0.3);
    animation: glow 1s infinite ;
    transition:0.5s;
    margin-left: 260px;    
}

  .startbtn{
    display: inline;
    line-height: 20px;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-right: 2.5%;
    margin-right: 0px;
    font-size: 1.2rem;
    transition: 0.3s;
    opacity: 0;
    background: rgba(156, 161, 160,0);
    color: #000;
}

  .startbtn:hover{
    transition: 0.3s;
    opacity: 1;
    font-weight: 700;
      }
  
  .start:hover{
    transform:translateX(-20px)rotate(30deg);
    border-radius:5px;
    background-color:#c3bacc;
    transition:0.5s;
  }
    
  .button {
    width: fit-content;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 30px;
    display: block;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:active {
    color: #000;
    border: none;
}

.button:active:after {
    background: transparent;
    border: none;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#input {
    background-color: #000;
    color: #48ff00;
    width: 100px;
    /* border-radius: 50%; */
    border: solid;
    border-color:#00ffd5;
    margin-left: 200px;
    margin-top: 20px;
}

.score-here {
    margin-top: 100px;
    height: 75px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes glow{
    0%{
    box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168);}
    
    50%{
    box-shadow: 5px 5px 20px rgb(81, 224, 210),-5px -5px 20px rgb(81, 224, 210)
    }
    100%{
    box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168)
    }
  }